{% extends 'base.html' %}

{% block title %} | Edit Option {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 mt-3">
            <form method='POST'>
            {% csrf_token %}
                <h1>Update Poll</h1>
                <input type="hidden" name="user_id" value="{{ user.id }}">
                    <div class="form-group">
                    <label for="text" class="col-form-label">Choice:</label>
                    <input type="text" name="text" class="form-control" value="{{ answer_id.answer }}">
                    </div>
                <hr>
                <input type="submit" value="Update" class="btn btn-block btn-secondary">
                <hr>
                
            </form>
        </div>
    </div>
<div>

{% endblock %}